body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    margin-top: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
    color: white;
}

.navbar-left .site-name {
    font-size: 24px;
    font-weight: bold;
}

.navbar-right .user-name {
    font-size: 18px;
}

main {
    padding: 20px;
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-between;
}

#map {
    max-height: 550px;
    width: 55%;
    margin-bottom: 20px;
    border-radius: 8px;
}

form {
    width: 40%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    /* background-color: #f9f9f9; */
    background-color: #444952;
}

label {
    display: block;
    font-size: smaller;
    color: #f9f9f9 ;
}

.wilayah {
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

.form-wilayah{
    display: block;
    width: 50%;
}

.form-wilayah select {
    width: 100%;
    padding: 6px;
    box-sizing: border-box;
    border-radius: 4px;
    /* border: 2px solid #000; */
}

.jalan {
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

.form-jalan{
    display: block;
    width: 50%;
}

.form-jalan select {
    width: 100%;
    padding: 6px;
    box-sizing: border-box;
    /* border: 2px solid #000; */
}
.styled-option {
    background-color: #f0f0f0;
    color: #333;
    font-size: 14px;
    padding: 5px;
    margin: 10px 0;
}
/* select {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
} */

input, textarea {
    width: 97%;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
button {
    width: 100%;
    padding: 10px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background: #0056b3;
}

.back-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#back-btn {
    width: 10%;
    height: 40%;
}

footer {
    display: flex;
    flex-direction: column;
    background-color: #31363f;
}

.info {
    color: #eeeeee;
}

.info p {
    text-align: center;
}

.bio {
    color: #eeeeee;
}

.bio p {
    text-align: center;
}