body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
    color: white;
}

.navbar-left .site-name {
    font-size: 24px;
    font-weight: bold;
}

.navbar-right .user-name {
    font-size: 18px;
}

main {
    padding: 20px;
    text-align: center;
}

#map {
    height: 400px;
    width: 100%;
    margin-bottom: 20px;
}

form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
}

label {
    display: block;
    margin-bottom: 8px;
}

select, input, textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background: #0056b3;
}

footer {
    display: flex;
    flex-direction: column;
    background-color: #31363f;
}

.info {
    color: #eeeeee;
}

.info p {
    text-align: center;
}

.bio {
    color: #eeeeee;
}

.bio p {
    text-align: center;
}