body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
    color: white;
}
.navbar-left .site-name {
    font-size: 24px;
    font-weight: bold;
}

.navbar-right {
    display: flex;
    gap: 2rem;
}
.navbar-right .user-name {
    font-size: 18px;
}

.navbar-right #logout {
    cursor: pointer;
}

main {
    height: 100vh;
}

#back-btn {
    width: 10%;
    padding: 4px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.9rem;
}

#back-btn:hover {
    background: #0056b3;
}

#add-button {
    width: 30%;
    padding: 4px;
    background: #119a3a;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.9rem;
}

#add-button:hover {
    background: #6ac07a;
}

.table-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0.8rem 2rem;
    
}

#pagination-controls {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.pagination-btn {
    padding: 4px;
}

table {
    width: 95vw;
    border-collapse: collapse;
    color: #070000;
}
  
th, td {
  border: 1px solid #31363e;
  padding: 4px;
  text-align: center;
}

td:nth-child(9){
    padding: 8px;
}

th {
  background-color: #31363f;
  color: #fff;
}

.edit-button {
    width: 40%;
    background-color: #4CAF50; /* Green */
    color: white;
    border: none;
    padding: 6px 12px;
    margin: 5px;
    cursor: pointer;
    border-radius: 4px;
}

.delete-button {
    width: 40%;
    background-color: #f44336; /* Red */
    color: white;
    border: none;
    padding: 6px 12px;
    cursor: pointer;
    border-radius: 4px;
}

.edit-button:hover, .delete-button:hover {
  opacity: 0.8;
}
.modal {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 10px;
    width: 80%;
    max-width: 400px;
    text-align: center;
}

.modal-content button {
    margin: 5px;
    padding: 10px 20px;
    border-radius: 4px;
}

#confirmYes {
    background: #fefefe;
    border: 1px solid #4CAF50;
}

#confirmYes:hover {
    background: #4CAF50;
    border: 1px solid #fefefe;
    color: #fefefe;
}
#confirmNo {
    background: #fefefe;
    border: 1px solid #f44336;
}

#confirmNo:hover {
    background: #f44336;
    border: 1px solid #fefefe;
    color: #fefefe;
}

.popup-btn {
    display: flex;
    justify-content: space-around;
}

#popup-edit-btn {
    margin: 8px;
}

#popup-delete-btn {
    margin: 8px;
}

.add-button-container {
    display: flex;
    justify-content: space-between;
    margin: 2rem 2rem 0 2rem ;
    /* background-color: #31363f; */
}

#right-section {
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    width: 25%;
}

#input-search {
    padding: 8px;
}

#search-btn {
    padding: 8px;
}

#search-btn:hover {
    cursor: pointer;
}

footer {
    display: flex;
    flex-direction: column;
    background-color: #31363f;
}

.info {
    color: #eeeeee;
}

.info p {
    text-align: center;
}

.bio {
    color: #eeeeee;
}

.bio p {
    text-align: center;
}
